*{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    gap: 0px 0px;
    height: 100%;
    width: 100%;
}
header {
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
    height: 500px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
header > div {
    margin: 10px;
}
.topnav{
    width: 80%;
    flex-grow: 1;
    font-size: 50px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    order: 1;
}
.topnav:hover{
    background-color: #ddd;
    color:black;
}
.room{
    flex-grow: 2;
    display: none;
}
.signin{
    font-size: 50px;
    flex-grow: 1;
    order: 0;
    color: #42b8dd
}
.signin:hover {
    background-color: #ddd;
    color: black;
}
.parallax{
    background-image: url("photo/parallax.jpg");
    min-height: 500px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: black;
    opacity: 0.7;
}
.paralax-text{
    z-index: 1;
}
.service{
    display: grid;
    grid-template-areas:'text' '.' '.' '.' '.';
    background-color: #42b8dd;
    width: 100%;
    gap: 5px 5px;
    height: 550px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.service-text{
    grid-area: text;
    background-color: #00000000;
    font-size: 60px;
    padding: 10px;
}
.service > div > i{
    font-size: 35px;
}
.service-text > a{
    text-decoration: underline;
}
.service-item{
    background-color: #42b8dd;
}
.service-item > a {
    font-size: 35px;
}
.works{
    display: grid;
    padding: 30px;
    gap: 0px 0px;
    text-align: center;
    font-size: 30px;
    height: 2500px;
    background-color: #ebebeb;
    color: #363636;
    justify-items: space-evenly;
    align-items: space-evenly;
    grid-template-areas:'text' '.' '.' '.' '.' '.' '.';
}
.works-text{
    grid-area: text;
    font-size: 60px;
}
.works > div > img{
    width: 450px;
    height: 300px;
    object-fit: cover;
}
.quotes{
    display: flex;
    width: 100%;
    background-color: #666666;
    color: white;
    align-items: center;
    height: 250px;
    justify-content: center;
}
.quotes > div{
    text-align: center;
    font-style: italic;
    font-size: 40px;
}
.under-quote{
    font-size: 25px;
    font-style: normal;
}
.team{
    display: grid;
    padding: 40px;
    gap: 10px 10px;
    text-align: center;
    justify-content: space-evenly;
    background-color: white;
    grid-template-areas:'text' '.' '.' '.';
    color: #363636;
}
.team-text{
    width: 80%;
    grid-area: text;
    font-size: 80px;
    text-align: center;
    position: relative;
    left: 10%;
}
.team-text > a{
    text-decoration: underline;
}
.team > div > img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 40px;
}
.name {
    font-size: 60px;
    color: #42b8dd;
}
.role{
    font-size: 48px;
    color: #cccccc;
}
.description{
    font-size: 30px;
    color: #363636;
}
.achievements{
    display: flex;
    flex-direction: column;
    background-color: #666666;
    color: white;
    padding-top:30px;
    padding-bottom:30px;
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
}
.achievements > div{
    text-align: center;
    padding: 20px;
}
.achievements > div > i{
    font-size: 50px;;
}
.achievements > div > a{
    font-size: 40px;;
}
.subscribe{
    background-color: #42b8dd;
    height: 170px;
}
.subscibe-form{
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    justify-content: center;
}
.subscibe-form > [type="email"]{
    width: 80%;
    background-color: #42b8dd;
    color: white;
    font-size: 26px;
    border: none;
    outline: 0px;
    padding: 20px;
}
.subscibe-form > ::placeholder{
    color: white;
    text-align: center;
}
.subscibe-form > [type="submit"]{
    color: #42b8dd;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
    background-color: white;
}
.partners{
    display: flex;
    flex-direction: column;
    background-color: #7f7f7f;
    height: 2400px;
    align-items: center;
    justify-content: space-evenly;
}
.partners > div{
    background-color: white;
}
.partners > div > img{
    height: 400px;
    width: 500px;
    object-fit: contain;
}
.feedback{
    height: 800px;
    display: grid;
    grid-template-areas:'text' 'adress' 'phone1' 'phone2'
                        'email' 'useremail' 'username'
                        'message' 'submit';
    background-color: #ebebeb;
    gap: 10px 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #363636;
    align-items: center;
    justify-content: space-evenly;
}
.feedback > div > a{
    text-decoration: underline;
}
.feedback-text{
    font-size: 58px;
    text-align: center;
}
.adress{
    font-size: 22px;
    grid-area: adress;
    color: #363636
}
.phone1{
    font-size: 22px;
    grid-area: phone1;
}
.phone1 > a{
    text-decoration: none;
    color: #363636;
}
.phone2{
    font-size: 22px;
    grid-area: phone2;
}
.phone2 > a{
    text-decoration: none;
    color: #363636;
}
.email{
    font-size: 22px;
    grid-area: email;
}
.email > a{
    text-decoration: none;
    color: #363636;
}
.useremail{
    grid-area: useremail;
}
.useremail > input > ::placeholder{
    text-align: start;
}
.useremail-field{
    background-color: #ebebeb;
    color: #a6a6a6;
    border: 3px solid #363636;
    width: 95%;
    height: 40px;
    font-size: 24px;
}
.username{
    grid-area: username;
}
.username-field{
    background-color: #ebebeb;
    color: #a6a6a6;
    border: 3px solid #363636;
    width: 95%;
    height: 40px;
    font-size: 24px;
}
.user-text{
    grid-area: message;
}
textarea{
    background-color: #ebebeb;
    color: #a6a6a6;
    border: 3px solid #363636;
    width: 95%;
    font-size: 24px;
}
.user-submit{
    grid-area: submit;
}
.user-submit > [type=submit]{
    color: #42b8dd;
    background-color: white;
    border: 3px solid #363636;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 95%;
    cursor: pointer;
}
footer{
    width: 100%;
    background-color: #252525;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 30px;
}
footer > p{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 15px;
}
footer > a{
    font-size: 20px;
    color: #7f7f7f;
    font-style: italic;
    text-decoration: none;
}